<div class="text-warning about-container">

    <h2 class="display-3">About</h2>
    <h3>We always want you to feel like a regular! </h3>
    <div class="photo-div">
        <div>
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF93qc1J_iaog/profile-displayphoto-shrink_800_800/0/1516816789392?e=1650499200&v=beta&t=4D5gnCtkRs7Pc4Qanq6FIkrJXRbCl6C8VHOZHKVfK1E" alt="" class="img-about">
        </div>
        <div>
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGx3GKYB9GhJA/profile-displayphoto-shrink_800_800/0/1642552890770?e=1650499200&v=beta&t=HQyElYLeHp5fFVYwj2M9xhVVFoPBRaZYlMeBwmBrtVc" alt="" class="img-about">
        </div>
        <div>
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHmpbIYTytLBA/profile-displayphoto-shrink_800_800/0/1642438699152?e=1650499200&v=beta&t=AT9R39m_nuwCsqzkRNKL0Oh2UbHBnh300UPSKESbA8g" alt="" class="img-about">
        </div>
    </div>
    <p class="col-sm-8">
        BYOBar was designed by three developers who have a passion for connecting with others and making people feel like they're part of the family. With our app, we are able to give that experience to you, the user, and you are always able to show off your style and preferences in cocktail form! 
        </p>
        <p class="col-sm-8">
        Simply go to our 'Menu' tab and search through a collection of classic and custom made drinks. Does a recipe fit your liking? Add it to your drink list. Do you need to make modifications? Create your own version and add it to your drink list. You can then share all of your best cocktail ideas with your friends! 

        Want to 
    </p>
</div>
