.create-btn {
  height: 50px;
  border: none;
  background-color: black;
  color: #fbc720;
  font-size: 25px;
  border-radius: 5px;
}

.create-btn:hover {
  background-color: rgb(236, 236, 236);
}

.menu-container {
  height: 80vh;
}
