.nav-title {
  font-family: "Montserrat Subrayada", sans-serif;
}

/* https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(176, 140, 41, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: goldenrod;
}
