<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a routerLink="/menu" class="navbar-brand text-warning nav-title"><h1>BYOBar</h1></a>
            <button
          class="navbar-toggler bg-dark custom-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#toggleMenu"
          aria-controls="toggleMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMenu">
        <ul class="nav navbar-nav ms-auto text-center" routerLinkActive="active">
            <li class="navbar-item active"><a class="nav-link text-warning" routerLink="/menu">Menu</a></li>
            <li class="navbar-item"><a class="nav-link text-warning" routerLink="/profile">Profile</a></li>
            <li class="navbar-item"><a class="nav-link text-warning" routerLink="/about">About</a></li>
            <li class="navbar-item"><a class="nav-link text-warning" routerLink="/login">Login</a></li>
        </ul>
            </div>
        </div>
    </nav>
</div>